In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_lend = pd.read_csv("C:\\Users\\willu\\Documents\\Machine-Learning\\Resources\\lending_data.csv")

In [4]:
df_lend.head(15)

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk
5,10100.0,7.438,mortgage,50600,0.407115,4,1,20600,low_risk
6,10300.0,7.490,mortgage,51100,0.412916,4,1,21100,low_risk
7,8800.0,6.857,mortgage,45100,0.334812,3,0,15100,low_risk
8,9300.0,7.096,own,47400,0.367089,3,0,17400,low_risk
9,9700.0,7.248,rent,48800,0.385246,4,0,18800,low_risk
10,9300.0,7.085,own,47300,0.365751,3,0,17300,low_risk
11,9200.0,7.015,own,46600,0.356223,3,0,16600,low_risk
12,9200.0,7.043,own,46900,0.360341,3,0,16900,low_risk
13,9400.0,7.101,mortgage,47400,0.367089,3,0,17400,low_risk
14,8400.0,6.703,mortgage,43700,0.313501,3,0,13700,low_risk

In [5]:
df_lend = df_lend.drop(columns= 'homeowner')

In [6]:
X = df_lend.drop(columns='loan_status')
y= df_lend['loan_status']

In [7]:
X.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000

In [8]:
y.value_counts()

low_risk     75036
high_risk     2500
Name: loan_status, dtype: int64

In [9]:
## Simple Logistic Regression
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, random_state=42, stratify=y)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()

In [11]:
X_scaler = scaler.fit(X_train)

In [12]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1)

In [14]:
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9885612665920358

In [15]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  614,    11],
       [   99, 18660]], dtype=int64)

In [16]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      0.98      0.99      0.92      0.99      0.98       625
   low_risk       1.00      0.99      0.98      1.00      0.99      0.98     18759

avg / total       0.99      0.99      0.98      0.99      0.99      0.98     19384

In [17]:
## Oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled,y_train)

In [18]:
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression(solver = 'lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [19]:
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9963213817367663

In [20]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  624,     1],
       [  108, 18651]], dtype=int64)

In [21]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      1.00      0.99      0.92      1.00      0.99       625
   low_risk       1.00      0.99      1.00      1.00      1.00      0.99     18759

avg / total       1.00      0.99      1.00      0.99      1.00      0.99     19384

In [22]:
## Smote Oversampling
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(X_train_scaled,y_train)
from collections import Counter

Counter(y_resampled)

Counter({'low_risk': 56277, 'high_risk': 56277})

In [23]:
model = LogisticRegression(solver= 'lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [24]:
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9962947278639587

In [25]:
confusion_matrix(y_test,y_pred)

array([[  624,     1],
       [  109, 18650]], dtype=int64)

In [26]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      1.00      0.99      0.92      1.00      0.99       625
   low_risk       1.00      0.99      1.00      1.00      1.00      0.99     18759

avg / total       1.00      0.99      1.00      0.99      1.00      0.99     19384

In [ ]:
## Undersampling
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train_scaled, y_train)

In [ ]:
model = LogisticRegression(solber='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
print(classification_report_imbalanced(y_test,y_pred))